body {
    background-color: #DFE1E0;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #DFE1E0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .navbar-logo img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-left: 20px;
  }
  
  .navbar-menu {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 2.5vw;
    color: rgba(27, 120, 175, 0.67);
    padding: 20px;
  }
  
  .navbar-menu li {
    list-style: none;
    margin-left: 2vw;
  }
  
  .navbar-menu li a {
    color: rgba(27, 120, 175, 0.67);
    text-decoration: none;
  }
  
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 165px; /* Ajusta el valor según tus necesidades */
    margin-left: 70px;
}

.right-image-container {
    position: absolute;
    top: 50%;
    right: 450px;
    transform: translate(50%, -50%);
    max-width: 100%;
    height: auto;
}

.content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 40px; /* Ajusta el valor según tus necesidades */
}

.content div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px; /* Ajusta el valor según tus necesidades */
}

.content div img {
    margin: 0 10px; /* Ajusta el valor según tus necesidades */
}


.center-image1 {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
}

.back-button img {
    width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
}

.center-image2 {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}
.center-image3 {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}
.center-image4 {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
}
